{% extends "base_layer.html" %}



{% block navbar %}

<div class="nav-bar">
    <ul>
        <li> <a class="bi bi-house-door-fill" href="{{ url_for('non_tech.non_tech_new_ticket') }}"> Home </a> </li>
        <li> <a class="bi bi-person-fill" href="#"> Profile </a> </li>
        <li> <a class="bi bi-door-open-fill fixed-bottom" href="{{ url_for('auth.login') }}"> LogOut </a> </li>
    </ul>
</div>

{% endblock navbar %}

{% block tabbar %}

<div id="flash">
    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ message[0] }}">
        {{ message[1] }}
    </div>
    {%endfor%}
</div>

<div class="content" id="tabs-bar">
    <nav class="nav nav-tabs">
        <a href="{{ url_for('non_tech.non_tech_new_ticket') }}" class="nav-item nav-link">
            <i class="bi-plus-square"></i> New Ticket
        </a>
        <a href="{{ url_for('non_tech.all_ticket') }}" class="nav-item nav-link">
            <i class="bi-card-list"></i> All Tickets
        </a>
    </nav>
</div>

{% endblock tabbar %}

{% block content %}

{% endblock content %}
