{% extends "non-tech_layer.html" %}


{% block content %}

<div id="non-tech_tickets_table">
    <table class="table table-bordered table-striped ">
        <thead>
            <tr>
                <th scope="col"> Ticket Number </th>
                <th scope="col"> Ticket Branch </th>
                <th scope="col"> Ticket Type </th>
                <th scope="col"> Category </th>
                <th scope="col"> Title </th>
                <th scope="col"> Details </th>
                <th scope="col"> Submition date </th>
                <th scope="col"> Status </th>
                <th scope="col"> Status Date </th>
                <th scope="col"> IT </th>
                <th scope="col"> Comment (optional) </th>
            </tr>
        </thead>

        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.ticket_id }}</td>
                <td>{{ ticket.ticket_branch }}</td>
                <td>{{ ticket.ticket_type }}</td>
                <td>{{ ticket.ticket_category }}</td>
                <td>{{ ticket.ticket_title }}</td>
                <td>{{ ticket.ticket_details }}</td>
                <td>{{ ticket.submission_datetime }}</td>
                <td>{{ ticket.ticket_status}}</td>
                <td>Status Date</td>
                <td>Tech User Name</td>
                <td>Comment (optional) </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}
