{% extends "tech_user_tab-bar.html" %}


{% block content %}

<div id="new-container">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    {{ form.user_id.label(class="form-label") }}

                    <!-- <label class="form-label"> User ID </label> -->
                    <!-- <input type="text" class="form-control" placeholder="User ID"> -->
                    {% if form.user_id.errors %}
                        {{ form.user_id(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_id(class="form-control form-control") }}                    
                    {% endif %}

                </div>
    
                <div class="col-6">
                    <!-- <label class="form-label"> User Name </label>
                    <input type="text" class="form-control" placeholder="User Name"> -->

                    {{ form.user_name.label(class="form-label") }}

                    <!-- <label class="form-label"> User ID </label> -->
                    <!-- <input type="text" class="form-control" placeholder="User ID"> -->
                    {% if form.user_name.errors %}
                        {{ form.user_name(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_name(class="form-control form-control") }}                    
                    {% endif %}
                </div>
            </div>


            <div class="form-group">

                {{ form.email.label(class="form-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control") }}                    
                {% endif %}
            </div>
            <div class="form-group">
                <div class="row">

                    <div class="col-6">

                        {{ form.password.label(class="form-label") }}

                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}                   
                        {% endif %}


                    </div>
        
                    <div class="col-6 form-group">

                        {{ form.confirm_password.label(class="form-label") }}



                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}                   
                        {% endif %}
                    </div>
                </div>

            </div>                    

            <div class="form-group">
                <!-- <label class="form-label">User Type</label>
                <select class="form-select">
                    <option></option>
                    <option>Tech</option>
                    <option>Non-Tech</option>    
                </select> -->

                {{ form.user_type.label(class="form-label") }}



                {% if form.user_type.errors %}
                {{ form.user_type(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_type.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.user_type(class="form-select") }}                   
                {% endif %}


            </div>

            <div class="row">

                <div class="form-group">
                    <!-- <label class="form-label"> User Department</label>
                    <select class="form-select">
                        <option></option>
                        <option>Accountant</option>
                        <option>Operation</option>
                        <option>HR</option> 
                        <option>IT</option>  
                        <option>Admin</option>
                        <option>Stock Control</option>
                        <option>Supply Chain</option>
                        <option>Quality Control</option>
                    </select> -->
                    
                    {{ form.user_department.label(class="form-label") }}

                    {% if form.user_department.errors %}
                    {{ form.user_department(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.user_department.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.user_department(class="form-select") }}                   
                    {% endif %}

                </div>
    
                <div class="form-group">
                    <!-- <label class="form-label"> User Title</label>
                    <input type="text" class="form-control"> -->
                    {{ form.user_job.label(class="form-label") }}

                    {% if form.user_job.errors %}
                    {{ form.user_job(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.user_job.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.user_job(class="form-select") }}                   
                    {% endif %}
                </div>

            </div>

            

            <div class="form-group">
                <!-- <label class="form-label">User Branch</label>
                <select class="form-select">
                    <option></option>
                    <option>Head Quarter</option>
                    <option>Heliopolis</option>
                    <option>Nasr City</option>
                    <option>New Cairo</option> 
                    <option>6th October</option>    
                </select> -->
                {{ form.user_branch.label(class="form-label") }}

                {% if form.user_branch.errors %}
                {{ form.user_branch(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_branch.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.user_branch(class="form-select") }}                   
                {% endif %}

            </div>

            <div class="form-group">
                <!-- <label class="form-label">User Status</label>
                <select class="form-select">
                    <option></option>
                    <option>Enabled</option>
                    <option>Disabled</option>    
                </select> -->
                {{ form.user_status.label(class="form-label") }}

                {% if form.user_status.errors %}
                {{ form.user_status(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.user_status.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.user_status(class="form-select") }}                   
                {% endif %}

            </div>

        </div>
        <div class="sub-bt">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form>

</div>

{% endblock content %}
