{% extends "tech_nav-bar.html" %}


{% block tabbar %}

<div id="flash">
    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ message[0] }}">
        {{ message[1] }}
    </div>
    {%endfor%}
</div>

<div class="content" id="tabs-bar">
    <nav class="nav nav-tabs">
        <a href="{{ url_for('tech.tech_new_user') }}" class="nav-item nav-link">
            <i class="bi bi-person-plus"></i> New User
        </a>

        <a href="{{ url_for('tech.tech_all_users') }}" class="nav-item nav-link">
            <i class="bi-people"></i> All Users
        </a>

        <a href="{{ url_for('tech.tech_new_employee') }}" class="nav-item nav-link">
            <i class="bi bi-person-plus"></i> New Employee
        </a>

        <a href="{{ url_for('tech.tech_all_employees') }}" class="nav-item nav-link">
            <i class="bi-people"></i> All Employees
        </a>
    </nav>
</div>

{% endblock tabbar %}
