{% extends "tech_ticket_tab-bar.html" %}



{% block content %}

<div id="update-container" class="container">

    <div id="search-ticket" class="child">

        <form>

            <div class="form-group">
                <div>
                    <label class="form-label"> Ticket Number </label>
                    <input type="text" class="form-control" placeholder="Ticket Number ">
                </div>

            </div>
            <div class="sub-bt">
                <button type="submit" class="btn btn-primary">Find Ticket</button>
            </div>
        </form>

    </div>

    <div id="divider"></div>

    <div id="update-ticket" class="child">

        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="ticketType" class="form-label">Ticket Type</label>

                        <!-- The ticket type selected by user -->
                        <input type="text" class="form-control" id="ticketType" placeholder="The Type of the selected ticket" readonly>

                    </div>
                    
                    <div class="col-6">
                        <label for="ticketID" class="form-label">Ticket Number </label>

                        <!-- The ticket number found by user search -->
                        <input type="text" class="form-control" id="ticketID" placeholder="The Number of the selected ticket" readonly>
                    </div>
                </div>
    
                <div>
                    <label for="ticketRequest" class="form-label">Ticket Request</label>

                    <!-- The ticket Request selected by user -->
                    <input type="text" class="form-control" id="ticketID" placeholder="The ticket Request selected by user" readonly>
                </div>
                <div>
                    <label for="ticket-subject" class="form-label">Ticket Title</label>

                    <!-- The Title of the selected ticket -->
                    <input type="text" class="form-control" id="ticket-subject" placeholder="The Title of the selected ticket" readonly>
                </div>
                <div>
                    <label for="ticket-details" class="form-label">Ticket Details</label>

                    <!-- The Details of the selected ticket -->
                    <textarea type="text" class="form-control" id="ticket-details" placeholder="The Details of the selected ticket" readonly></textarea>
                </div>

                <div>
                    <label for="ticketRequest" class="form-label">Ticket Status</label>
                    <select class="form-select">
                        <option></option>
                        <option>Received</option>
                        <option>In progress</option>
                        <option>Canceled</option>
                        <option>Solved</option> 
                    </select>
                </div>

                <div>
                    <label for="ticket-details" class="form-label">Comment (optional)</label>

                    <!-- The comment  about the new status of the selected ticket -->
                    <textarea type="text" class="form-control" id="ticket-details" placeholder="Add a comment about your update" ></textarea>
                </div>

            </div>
            <div class="sub-bt">
                <button type="submit" class="btn btn-primary">Update Ticket</button>
            </div>
        </form>



    
    </div>


</div>

{% endblock content %}
