{% extends "tech_user_tab-bar.html" %}


{% block content %}

<div id="new-container">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    {{ form.employee_id.label(class="form-label") }}

                    <!-- <label class="form-label"> User ID </label> -->
                    <!-- <input type="text" class="form-control" placeholder="User ID"> -->
                    {% if form.employee_id.errors %}
                        {{ form.employee_id(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.employee_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.employee_id(class="form-control form-control") }}                    
                    {% endif %}

                </div>
    
                <div class="col-6">
                    <!-- <label class="form-label"> User Name </label>
                    <input type="text" class="form-control" placeholder="User Name"> -->

                    {{ form.employee_name.label(class="form-label") }}

                    <!-- <label class="form-label"> User ID </label> -->
                    <!-- <input type="text" class="form-control" placeholder="User ID"> -->
                    {% if form.employee_name.errors %}
                        {{ form.employee_name(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.employee_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.employee_name(class="form-control form-control") }}                    
                    {% endif %}
                </div>
            </div>

            <div class="row">

                <div class="form-group">
                    <!-- <label class="form-label"> User Department</label>
                    <select class="form-select">
                        <option></option>
                        <option>Accountant</option>
                        <option>Operation</option>
                        <option>HR</option> 
                        <option>IT</option>  
                        <option>Admin</option>
                        <option>Stock Control</option>
                        <option>Supply Chain</option>
                        <option>Quality Control</option>
                    </select> -->
                    
                    {{ form.employee_department.label(class="form-label") }}

                    {% if form.employee_department.errors %}
                    {{ form.employee_departmentt(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.employee_department.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.employee_department(class="form-select") }}                   
                    {% endif %}

                </div>
    
                <div class="form-group">
                    <!-- <label class="form-label"> User Title</label>
                    <input type="text" class="form-control"> -->
                    {{ form.employee_job_title.label(class="form-label") }}

                    {% if form.employee_job_title.errors %}
                    {{ form.employee_job_title(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.employee_job_title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.employee_job_title(class="form-select") }}                   
                    {% endif %}
                </div>

            </div>

            <div class="form-group">
                <!-- <label class="form-label">User Branch</label>
                <select class="form-select">
                    <option></option>
                    <option>Head Quarter</option>
                    <option>Heliopolis</option>
                    <option>Nasr City</option>
                    <option>New Cairo</option> 
                    <option>6th October</option>    
                </select> -->
                {{ form.employee_branch.label(class="form-label") }}

                {% if form.employee_branch.errors %}
                {{ form.employee_branch(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.employee_branch.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.employee_branch(class="form-select") }}                   
                {% endif %}

            </div>


        </div>
        <div class="sub-bt">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

</div>

{% endblock content %}
