{% extends "tech_user_tab-bar.html" %}


{% block content %}

<div id="new-container">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->
        <div class="form-group">
    
                <div class="col-6">

                    {{ form.user_name.label(class="form-label") }}

                    {% if form.user_name.errors %}
                        {{ form.user_name(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_name(class="form-control form-control") }}                    
                    {% endif %}
                </div>

            <div class="form-group">

                    <div class="col-6">

                        {{ form.password.label(class="form-label") }}

                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}                   
                        {% endif %}

                    </div>
        
                    <div class="col-6 form-group">

                        {{ form.confirm_password.label(class="form-label") }}



                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}                   
                        {% endif %}
                    </div>


            </div>                    

        </div>
        <div class="sub-bt">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

</div>

{% endblock content %}
