{% extends "base_layer.html" %}


{% block navbar %}

<div class="nav-bar">
    <ul>
        <li> <a class="bi bi-house-door-fill" href="{{ url_for('tech.tech_dashboard') }}"> Home </a> </li>
        <li> <a class="bi bi-person-fill" href="{{ url_for('tech.new_user') }}"> User Control </a> </li>
        <li> <a class="bi bi-card-heading" href="{{ url_for('tech.tech_new_ticket') }}"> Ticket Control </a> </li>
        <li> <a class="bi bi-door-open-fill fixed-bottom" href="{{ url_for('auth.login') }}"> LogOut </a> </li>
    </ul>
</div>

{% endblock navbar %}
